.ui {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 10;
    left: 0;
    right: 0;
}

.playerUi {
    bottom: 0;
    display: flex;
    gap: 12px;
}
