.token {
    display: block;
    cursor: pointer;
    border-radius: 50%;
    border: 4px groove gold;
    z-index: 5;
    box-sizing: border-box;
    transform: scale(1.03);
}

.dragHandle {
    border-radius: 50%;
    z-index: 5;
}
