.token {
    display: block;
    border-radius: 50%;
    // border: 4px solid gold;
    z-index: 4;
    box-sizing: border-box;
    scale: 1.03;
}

.dragHandle {
    border-radius: 50%;
    cursor: pointer;
    z-index: 5;
}
